.presentation{
    margin-top: 15px;
    background-color: rgb(225, 231, 236);
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

.presentation div#image{
    background-color: rgb(245, 246, 246);
    width: 100%;
    padding: 15px;
}

#img-me{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.title-axl{
    color: rgb(64, 148, 116);
    font-family: "Cabin", sans-serif;
    float: left;
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
    padding: 25px;
}

.p-presentation{
    color: rgb(46, 45, 45);
    font-size: 20px;
    text-align: left;
    padding: 25px;
    margin-bottom: -35px;
}
.skills{
    align-content: stretch;
}
.skills-container{
    margin-bottom: 10px;
    margin-top: -50px;
    padding: 25px;
    text-align: center;
}
.skills-title{
    color:  rgb(64, 148, 116);
}
.skills-icon{
    position: relative;
    width: 120px;
    height: 120px;
    margin: 30px;
}

#ux-ui{
    width: 320px;
    margin: 30px;
    margin-bottom: -15px;
}

.mas-de-mi{
    margin-top: -15px;
    padding: 25px;
    text-align: center;
}

.sobreMi{
    position: relative;
    margin-top: 15px;
    text-align: center;
}
.lista{
    margin-top: 15px;
    padding: 15px
}

.lista li{
    list-style-type: none;
    margin: 15px;
    color:  rgb(46, 45, 45);
    font-size: 18px;
}

@media(min-width: 1024px){
    .presentation{
        background-color: rgb(255, 255, 255);
        margin-bottom: 5px;
        width: auto;
    }
    .presentation div#image{
        background-color: rgb(255, 255, 255);
        text-align: start;
        align-content: center;
        width: auto;
        height: auto;
    }
    .title-axl{
        position: relative;
        float: right;
        margin-right: 150px;
        margin-left: 150px;
        margin-top: -500px;
    }
    .p-presentation{
        position: relative;
        float: right;
        margin-left: 400px;
    }
    .parrafo{
        position: relative;
        margin-top: -420px;
        margin-left: 10px;
        margin-right: 180px;
        float: right;
        width: 80%;
    }
    #img-me{
        margin-left: 60px;
        height: 500px;
        width: 500px;
        border-radius: 10px;
    }
    .skills-container{
        margin-bottom: 600px;
        margin-top: 10px;
        padding: 25px;
    }
    .skills-title{
        margin-left: 35px;
        font-size: 40px;
    }
    .skills-icon{
        position: relative;
        width: 20px;
        height: 20px;
    }
}

@media(min-width: 1200px){
    .presentation{
        background-color: rgb(255, 255, 255);
        margin-bottom: 5px;
    }
    .presentation div#image{
        background-color: rgb(255, 255, 255);
        text-align: start;
        align-content: center;
        width: auto;
        height: auto;
    }
    .title-axl{
        position: relative;
        float: right;
        margin-right: 65px;
        margin-left: 165px;
        margin-top: -475px;
    }
    .p-presentation{
        position: relative;
        float: right;
        margin-left: 400px;
    }
    .parrafo{
        position: relative;
        margin-top: -400px;
        margin-left: 50px;
        margin-right: 100px;
        float: right;
        width: 80%;
    }
    #img-me{
        margin-left: 50px;
        margin-top: 25px;
    }
    .skills-container{
        margin-bottom: 600px;
        margin-top: 10px;
        padding: 25px;
    }
    .skills-title{
        margin-left: 35px;
        font-size: 40px;
    }
}