<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/main.css">
    <link rel="shortcut icon" href="./../static/images/logo.png" type="image/x-icon">
    <script src="./../static/js/main.js"></script>
    <title>Axl Estevez | Desarrollador web | Acerca de</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="./../static/images/logo.png" id="icon-header" alt="Icon" >
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>

            <nav class="menu">
                <a href="/">inicio</a>
                <a href="">Portafolio</a>
                <a href="./templates/acercaDe.html">Acerca de</a>
                <a href="">Contacto</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="slogan">
            <h2 id="presentacion">Axl Estevez Dise&ntilde;ador y 
                Desarrolador web con residencia en 
                M&eacute;xico</h2>
        </section>

        <section class="presentation">
            <div id="image">
                <img src="./../static/images/axl.jpg" alt="photo" id="img-me">
                <h2 class="title-axl">
                    Axl Estevez - Desarrolador y diseñador web
                </h2>
                <div class="parrafo">
                    <p class="p-presentation">
                        Estudiante de <strong>Tecnolonog&iacute;as y Sistemas
                        de la informaci&oacute;n</strong> en la <strong>Universidad 
                        Aut&oacute;noma Metropolitana</strong>. Soy una persona autodidacta
                        y responsable. 
                    </p>
                    <p class="p-presentation">
                        Tengo tres a&ntilde;os <strong>desarrollando y dise&ntilde;ando</strong>
                        p&aacute;ginas web. He colaborado en proyectos de clasificaci&oacute;n
                        autom&aacute;tica de documentos (procesamiento de lenguaje natural)
                        y en el desarrollo de videojuegos web.
                    </p>
                </div>
            </div>
        </section>
        <section class="skills-container">
            <h1 class="skills-title">Skills</h1>
            <div class="skills">
                
            </div>
        </section>
    </main>

    <footer>
        <div class="container-foot">
            <div class="sociales">
                <a href="https://www.facebook.com/AxlEstevezN/" target="blank" class="link-sociales">
                    <img src="./../static/images/facebook.png" alt="Facebook" class="icon-sociales">
                </a>
                <a href="https://www.instagram.com/axlestevez/" target="blank" class="link-sociales">
                    <img src="./../static/images/instagram.png" alt="instagram" class="icon-sociales">
                </a>
                <a href="https://github.com/AxlEstevez" target="blank" class="link-sociales">
                    <img src="./../static/images/github.png" alt="github" class="icon-sociales">
                </a>
                <a href="https://www.linkedin.com/in/axl-rodrigo-estevez-nieto-226b061a4/" target="blanck" class="link-sociales">
                    <img src="./../static/images/linkedin.png" alt="linkedin" class="icon-sociales">
                </a>
                <img src="./../static/images/panorama.png" alt="outlook" class="icon-sociales" id="outlook" onclick="copyEmail();">
            </div>
            <div class="nav">
                <a href="/">inicio</a>
                <a href="">Portafolio</a>
                <a href="acercaDe.html">Acerca de</a>
                <a href="">Contacto</a>
            </div>
            <p class="copy">
                Copyright &copy; 2020 Axl Estevez °
                Dise&ntilde;ador y Desarrolador web
            </p>
        </div>
    </footer>
</body>
</html>