<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/main.css">
    <link rel="shortcut icon" href="./../static/images/logo.png" type="image/x-icon">
    <script src="./../static/js/sweetalert2.all.min.js"></script>
    <script src="./../static/js/main.js"></script>
    <title>Axl Estevez | Desarrollador web | Acerca de</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="./../static/images/logo.png" id="icon-header" alt="Icon" >
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>

            <nav class="menu">
                <a href="/">inicio</a>
                <a href="">Portafolio</a>
                <a href="./templates/acercaDe.html">Acerca de</a>
                <a href="">Contacto</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="slogan">
            <h2 id="presentacion">Axl Estevez Dise&ntilde;ador y 
                Desarrolador web con residencia en 
                M&eacute;xico</h2>
        </section>

        <section class="presentation">
            <div id="image">
                <img src="./../static/images/presentacion.jpg" alt="photo" id="img-me">
                <h2 class="title-axl">
                    Axl Estevez - Desarrolador y Diseñador web
                </h2>
                <div class="parrafo">
                    <p class="p-presentation">
                        Estudiante de <strong>Tecnolonog&iacute;as y Sistemas
                        de la informaci&oacute;n</strong> en la <strong>Universidad 
                        Aut&oacute;noma Metropolitana</strong>. Soy una persona autodidacta
                        y responsable. 
                    </p>
                    <p class="p-presentation">
                        Tengo tres a&ntilde;os <strong>desarrollando y dise&ntilde;ando</strong>
                        p&aacute;ginas web. He colaborado en proyectos de clasificaci&oacute;n
                        autom&aacute;tica de documentos (procesamiento de lenguaje natural)
                        y en el desarrollo de videojuegos web.
                    </p>
                </div>
            </div>
        </section>
        <section class="skills-container">
            <h1 class="skills-title">Skills</h1>
            <div class="skills">
                <img src="./../static/images/skills/javascript_icon.png" alt="js" class="skills-icon">
                <img src="./../static/images/skills/html.png" alt="html" class="skills-icon">
                <img src="./../static/images/skills/css.png" alt="css" class="skills-icon">
                <img src="./../static/images/skills/python_icon.png" alt="python" class="skills-icon">
                <img src="./../static/images/skills/java.png" alt="java" class="skills-icon">
                <img src="./../static/images/skills/nodejs.png" alt="node" class="skills-icon">
                <img src="./../static/images/skills/react.png" alt="react" class="skills-icon">
                <img src="./../static/images/skills/github_icon.png" alt="github" class="skills-icon">
                <img src="./../static/images/skills/ux-ui-logo.svg" alt="ux" id="ux-ui">
            </div>
        </section>
        <section class="mas-de-mi">
            <h1 class="skills-title">
                Curiosidades de mi
            </h1>
            <div class="sobreMi">
                <ul class="lista">
                    <li>Tomo mucho caf&eacute;</li>
                    <li>Amo la m&uacute;sica</li>
                    <li>Me gusta leer c&oacute;mics</li>
                    <li>Batman es mi pastor</li>
                    <li>Libros y m&aacute;s libros</li>
                    <li>Quisiera vivir en Canad&aacute;</li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <div class="container-foot">
            <div class="sociales">
                <a href="https://www.facebook.com/AxlEstevezN/" target="blank" class="link-sociales">
                    <img src="./../static/images/sociales/facebook.png" alt="Facebook" class="icon-sociales">
                </a>
                <a href="https://www.instagram.com/axlestevez/" target="blank" class="link-sociales">
                    <img src="./../static/images/sociales/instagram.png" alt="instagram" class="icon-sociales">
                </a>
                <a href="https://github.com/AxlEstevez" target="blank" class="link-sociales">
                    <img src="./../static/images/sociales/github.png" alt="github" class="icon-sociales">
                </a>
                <a href="https://www.linkedin.com/in/axl-rodrigo-estevez-nieto-226b061a4/" target="blanck" class="link-sociales">
                    <img src="./../static/images/sociales/linkedin.png" alt="linkedin" class="icon-sociales">
                </a>
                
                <input type="text" id="myemail" value="axlestevez@hotmail.com">
                <button onclick="copyEmail();" id="cptext">
                    <img src="./../static/images/sociales/panorama.png" alt="outlook" class="icon-sociales" id="outlook">
                </button>
                
            </div>
            <div class="nav">
                <a href="/">inicio</a>
                <a href="">Portafolio</a>
                <a href="acercaDe.html">Acerca de</a>
                <a href="">Contacto</a>
            </div>
            <p class="copy">
                Copyright &copy; 2020 Axl Estevez °
                Dise&ntilde;ador y Desarrolador web
            </p>
            <input type="text" id="myemail" value="axlestevez@hotmail.com">
        </div>
    </footer>
</body>
</html>